body, html{
  height:100%;
}
body{
  margin: 0px;
  background-color:#444;
  font-size: 18px;
  background-position: center;
  overflow: hidden;
}
body, a:link, a:visited, a:active{
  color: lightblue;
}
.title, .addDancerButton{
  padding:5px 12px;
  float:right;
}
.topbar{
  height:32px;
  background-color: #555;
}
.title{
  background-color: #777;
}
.dancer{
  background-image: url('Photos/peach.png');
  height: 150px;
  width: 150px;
  position:absolute;
  background-repeat: no-repeat;
  background-position: center; 
}
.mario{
  background-image: url('Photos/mario.png');
  height: 150px;
  width: 150px;
  position:absolute;
  background-position: center;
  background-repeat: no-repeat; 
}
.bowser{
  background-image: url('Photos/bowser.png');
  height: 150px;
  width:156px;
  background-repeat: no-repeat;
  background-position: center; 
}
.rotate{
  transform: rotateY(720deg);
  transition: 1s;
}
.spin{
  transform: rotate(-1080deg);
  transition: .5s;
}
.dancer:hover{
  transform: scale(2.5);
}
.mario:hover {
  transform: scale(2.5);
}
.bowser:hover {
  transform: scale(2.5); 
}
.bones {
  background-image: url('Photos/bones.png');
}